# deps
node_modules/
.pnpm-store/

# builds
dist/
.next/
out/
coverage/
*.tsbuildinfo
.turbo/

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*

# os
.DS_Store

# editors
.idea/
.vscode/
.vercel
.env*
